
.animate-show {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
  line-height:20px;
  opacity:1;
  padding:10px;
}
 
.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
  display:block!important;
}
 
.animate-show.ng-hide {
  line-height:0;
  opacity:0;
  padding:0 10px;
}

#qr_deposit_address {
  margin-bottom: 1em;
}

form {
  border:1px solid black;
  margin: 1em;
  padding: 1em;
}

input.ng-pristine + ul#strength {
    display:none;
}

ul#strength {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
}
.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}

.valid {
  color: green;
}

.error {
  color: red;
}
