<!doctype html>
<html ng-app="ethereum">
<head>
  <script src="js/angular.min.js"></script>
  <script src="js/angular-resource.min.js"></script>
  <script src="js/angular-route.min.js"></script>
  <script src="js/angular-animate.min.js"></script>
  <script src="js/qrcode.min.js"></script>
  <script src="js/bitcoinjs-min.js"></script>
  <script src="js/sha3.js"></script>
  <script src="js/app.js"></script>

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div class="container">

    <div ng-controller="PurchaseCtrl">
      
      <form name="purchase_form" class="animate-show">
        <div class="control-group" ng-class="{error: purchase_form.bitcoin_address.$invalid}">
          <label for="bitcoin_address">Ethereum Address</label>
          <span>{{ ethAddress || entropy || "Move your mouse to generate a new address" }}
        </div>
        <div class="control-group" ng-class="{error: purchase_form.bitcoin_address.$invalid}">
          <label>Enter Ethereum Address</label>
          <input type="text" name="user_id" ng-model="tempAddress" placeholder="Enter an address here"></input>
          <button class="btn" ng-click="ethAddress = tempAddress">Enter</button>
        </div>
        <div class="control-group" ng-class="{error: purchase_form.bitcoin_address.$invalid}">
          <label>Email</label>
          <input type="text" name="email" ng-model="email"></input>
        </div>
        <div class="control-group" ng-class="{error: purchase_form.bitcoin_address.$invalid}">
          <label>Intermediate Bitcoin Address:</label>
          <input type="text" name="btcaddress" ng-model="btcAddress"></input>
        </div>
        <div class="control-group" ng-class="{error: purchase_form.bitcoin_address.$invalid}">
          <label>Intermediate Private Key:</label>
          <span ng-show="showKey">{{ btcKey }}</span>
          <button class="btn" ng-click="showKey = !showKey">{{ showKey ? "Hide" : "Show" }}</button>
        </div>
        <div id="qr_deposit_address"></div>
      </form>

    </div> <!--/PurchaseCtrl-->

  </div>

</body>
</html>
