
.animate-show {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
  line-height:20px;
  opacity:1;
  padding:10px;
  border:1px solid black;
}
 
.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
  display:block!important;
}
 
.animate-show.ng-hide {
  line-height:0;
  opacity:0;
  padding:0 10px;
}

#qr_deposit_address {
  margin-bottom: 1em;
}
