<!doctype html>
<html ng-app="ethereum">
<head>
  <script src="js/angular.min.js"></script>
  <!--
  <script src="js/angular-resource.min.js"></script>
  <script src="js/angular-route.min.js"></script>
  <script src="js/angular-animate.min.js"></script>-->
  <script src="js/qrcode.min.js"></script>
  <script src="js/bitcoinjs-min.js"></script>
  <script src="js/sha3.js"></script>
  <script src="js/app.js"></script>

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div class="container">

    <div ng-controller="PurchaseCtrl">
      
      <form novalidate name="purchase_form" class="form-horizontal css-form" role="form">
        <div class="form-group">
          <label for="email" class="col-sm-4 control-label">Email:</label>
          <div class="col-sm-8">
            <input type="email" name="email" ng-model="email" id="email" placeholder="account@domain.tld" class="form-control" required>
            <span class="error" ng-show="purchase_form.email.$error.required">&#10008; Required</span></span>
            <span class="error" ng-show="purchase_form.email.$error.email">&#10008; Invalid format</span></span>
            <span class="valid" ng-show="purchase_form.email.$valid">&#10004; Looks good!</span>
          </div>
        </div>

        <div class="form-group" ng-hide="ethAddress">
          <label for="password" class="col-sm-4 control-label">Password:</label>
          <div class="col-sm-8">
            <input type="password" name="password" ng-model="password" id="password" class="form-control" required>
            <span class="error" ng-show="purchase_form.password.$error.required">&#10008; Required</span>
            <span class="valid" ng-show="purchase_form.password.$valid">&#10004; Looks good!</span>
            <ul id="strength" check-strength="password"></ul>
          </div>
        </div>

        <div class="form-group" ng-hide="ethAddress">
          <label for="password_repeat" class="col-sm-4 control-label">Confirm password:</label>
          <div class="col-sm-8">
            <input type="password" name="password_repeat" ng-model="password_repeat" id="password_repeat" class="form-control" required  data-match="password">
            <span class="error" ng-show="purchase_form.password_repeat.$error.required">&#10008; Required</span>
            <span class="error" ng-show="purchase_form.password_repeat.$error.match">&#10008; No match</span>
            <span class="valid" ng-show="purchase_form.password_repeat.$valid">&#10004; Looks good!</span>
          </div>
        </div>



        <div ng-hide="purchase_form.$invalid">
          <div class="form-group">
            <label class="col-sm-4 control-label nowrap">Ethereum Address:</label>
            <div class="col-sm-8">
              <span>{{ ethAddress || "Move your mouse to generate a new address" }}</span>
            </div>
          </div>
          <!--
          <div class="form-group" ng-class="{error: purchase_form.bitcoin_address.$invalid}">
            <label for="user_id" class="col-sm-4 control-label">Enter Ethereum Address:</label>
            <div class="col-sm-8">
              <input type="text" name="user_id" ng-model="tempAddress" placeholder="Enter an address here" id="user_id" class="form-control">
            </div>
            <div class="col-sm-1">
              <button class="btn btn-default pull-right" ng-click="ethAddress = tempAddress">Enter</button>
            </div>
          </div>
          -->
          <div class="row" ng-show="ethAddress">
            <div class="col-sm-4">
              <textarea class="form-control" ng-model="status" id="status" readonly></textarea>
            </div>
            <div class="col-sm-8">
              <div id="qr_deposit_address"></div>
            </div>
          </div>
          <div class="form-group" ng-show="ethAddress">
            <label for="btcaddress" class="col-sm-4 control-label">Intermediate Bitcoin Address:</label>
            <div class="col-sm-8">
              <a href="bitcoin:{{btcAddress}}" class="nowrap">{{btcAddress}}</a>
              <!--<input type="text" name="btcaddress" ng-model="btcAddress" id="btcaddress" class="form-control" disabled="disabled">-->
            </div>
          </div>
          <div class="form-group" ng-show="ethAddress">
            <label class="col-sm-4 control-label">Intermediate Private Key:</label>
            <div class="col-sm-8">
              <button type="button" class="btn btn-default" ng-click="showKey = !showKey">{{ showKey ? "Hide" : "Show" }}</button>
              <input type="text" class="form-control" ng-show="showKey" ng-model="btcKey" readonly="">
            </div>
          </div>
        </div>

      </form>

      
      <textarea ng-model="debug" class="form-control" readonly></textarea>

    </div> <!--/PurchaseCtrl-->

  </div>

</body>
</html>
